@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');
*
{
    padding: 0;
    border: 0;
    margin: 0;
}
/* Barra de navegacion */
#barra
{
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
#items a
{
    color: blueviolet;
    display: inline;
    align-content: space-between;
}
/* Introduccion */
.imagen
{
    width: 100%;
    height: 500px;
}
.titulo1
{
    border-top: 50px solid blueviolet;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 80;
}
.titulo2
{
    border-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 80;
}
.introducion
{
    margin-top: 90px;
}
.introducion p
{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   margin-top: 100px;
   margin-bottom: 100px;
}
/* Informacion Extra */
.Articulo1
{
 width: 100%;
 height: 400px;
 background-color: blueviolet;
}
.Articulo1 img
{
    width: 500px;
    height: 100%;
    margin-left: 0;
    float: left;
    margin-right: 30px;
}
.Articulo1 p
{
    margin: 30px 25px 30px 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 100;
}
.titulo3
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 100;
}

.Articulo2
{
 width: 100%;
 height: 400px;
 background-color: white;
}
.Articulo2 img
{
    width: 500px;
    height: 100%;
    margin-left: 0;
    float: right;
}
.Articulo2 p
{
    color: blueviolet;
    margin: 30px 25px 30px 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.Articulo3
{
 width: 100%;
 height: 400px;
 background-color: blueviolet;
}
.Articulo3 img
{
    width: 500px;
    height: 100%;
    margin-left: 0;
    float: left;
    margin-right: 30px;
}
.Articulo3 p
{
    margin: 30px 25px 30px 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.Articulo4
{
 width: 100%;
 height: 400px;
 background-color: white;
}
.Articulo4 img
{
    width: 500px;
    height: 100%;
    margin-left: 0;
    float: right;
}
.Articulo4 p
{
    color: blueviolet;
    margin: 30px 25px 30px 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/* Pie de pagina*/
footer
{
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}
.contenedor-footer
{
    display: flex;
    justify-content: space-between;
}
.colum1
{
    max-width: 350px;
}
.colum1 h4
{
    font-size: 22px;
}
.colum1 p
{
    font-size: 18px;
    color: white;
    margin: 20px 15px 20px 15px
}
.colum2
{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.colum2 h5
{
    font-size: 22px;
}
.row
{
    margin-top: 20px;
}
.row img
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float:left;
}
.row label
{
    font-size: 20px;
}
.colum3
{
    max-width: 350px;
}
.colum3 h6
{
   font-size: 22px;
}
.row2
{
   margin-top: 20px;
}
.row2 img
{
   width: 40px;
   height: 40px;
   float: left;
   margin-right: 10px;
}
.row2 label
{
    margin-top: 10px;
}